.agent-image{

    background-image:url("C:\Users\Half Sugar\Desktop\Seminar Nasional\UI\img\1.png");
    background-position:center;
    background-size:cover;
    height: 120px;
    width: 120px;
    border-radius: 50%;

}